html,
body {
	width: 100vw;
	width: calc(var(--vw, 1vw) * 100);
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	font-size: 12px;
}
.noise {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.4)
		),
		url(../images/texture.jpg);
	mix-blend-mode: color-burn;
	opacity: 0.9;
	z-index: 1;
}
.background{
    position: fixed;
	bottom: 0;
	width: 100%;
    height: 100%;
	background: linear-gradient(to bottom, #FFFFFF 6.77%, #EBE1D7 100%);
}
.content-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 9999;
}
.content{
    position: relative;
	display: flex;
	flex-direction: row;
	width: 70%;
	justify-content: space-evenly;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    z-index: 10;
}
.name-wall-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	border-left: 1px solid #004F74;
	border-right: 1px solid #004F74;
}
.name-wall-title{
	position: relative;
	display: flex;
	flex-direction: row;
	margin-bottom: 1.5rem;
}
.name-wall-title p{
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
	letter-spacing: 0.15rem;
	color: #009D9B;
	margin-left: 1rem;
}
.name-wall-title p:nth-child(1){
	border-right: 1px solid #009D9B;
	padding-right: 1rem;
}
.name-wall-slogan{
	position: relative;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
	letter-spacing: 0.15rem;
	padding: 0.25rem 0.5rem;
	color: #FFFFFF;
	background-color: #004F74;
	border-radius: 3rem;
	margin-bottom: 1.25rem;
}
.main-ambassador{
	position: relative;
	display: flex;
	width: 35%;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 1.25rem;
}
.main-ambassador p{
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
	letter-spacing: 0.05rem;
	color: #004F74;
}
.name-wall{
	position: relative;
	display: contents;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0.05rem;
	text-align: center;
	color: #004F74;
}
.name-wall .row{
	position: relative;
	width: 100%;
	margin-bottom: 1rem;
}
.player-name{
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 2.25rem;
	font-weight: 700;
	color: #008DC5;
}
.certificate-container{
	cursor: pointer;
	position: relative;
	align-items: center;
	justify-content: center;
}
.certificate{
	position: absolute;
	top: -50%;
	width: 100%;
	height: auto;
	content: url(../images/ambassador/checkcertificate.svg);
	animation: fade 3.5s ease-in-out infinite;
}
.carousel{
	width: 35%;
	height: fit-content;
}
.carousel-item{
	height: 15rem;
}
.carousel-item iframe{
	width: 100%;
	height: 100%;
}
#EnvoyLeft, #EnvoyRight{
    position: fixed;
	bottom: 0;
	width: 30%;
	z-index: 100;
}
#EnvoyLeft{
	left: 0;
    content: url(../images/ambassador/EnvoyLeft.svg);
}
#EnvoyRight{
	right: 0;
    content: url(../images/ambassador/EnvoyRight.svg);
}
.mycertificate-container{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	z-index: 9999;
}
.close-block{
	position: absolute;
	width: 100%;
	height: 100%;
}
.mycertificate-block{
	position: relative;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 65%;
	background: linear-gradient(to bottom, #FFFFFF 6.77%, #EBE1D7 100%);
	transform: translate(-50%, -50%);
}
.mycertificate{
	position: relative;
	width: 100%;
	height: 100%;
	border: 8px solid #008DC5;
}
.mycertificate-content{
	position: relative;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	transform: translate(-50%, -50%);
}
.logo{
	content: url(../images/ambassador/logo.svg);
}
.mycertificate-title{
	position: relative;
	font-size: 2rem;
	font-weight: 700;
	line-height: 3rem;
	letter-spacing: 0.3rem;
	color: #009D9B;
}
.certificate-name{
	width: 55%;
	font-size: 3rem;
	font-weight: 700;
	line-height: 4.5rem;
	border-bottom: 1px solid #008DC5;
	color: #008DC5;
	text-align: center;
	padding: 0 1rem;
	margin-bottom: 0.5rem;
}
.mycertificate-content p{
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	color: #004F74;
	margin-bottom: 0.5rem !important;
}
.fubonlogo{
	margin-top: 1rem;
	content: url(../images/ambassador/CertificateLogo.svg);
}
.certificate-left, .certificate-right{
	position: absolute;
	bottom: 0;
	width: 35%;
	z-index: 100;
}
.certificate-left{
	left: 0;
    content: url(../images/ambassador/CertificateLeft.svg);
}
.certificate-right{
	right: 0;
    content: url(../images/ambassador/CertificateRight.svg);
}
.btn-share{
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 21%;
	left: 50%;
	width: 10rem;
	height: 2.5rem;
	border-radius: 3rem;
	font-size: 1.5rem;
	font-weight: 700;
	background-color: #004F74;
	color: #FFFFFF;
	transform: translate(-50%, -50%);
}

@keyframes fade {
    from { transform: scale(1); }
    50% { transform: scale(1.1);}
    to { transform: scale(1);}
}

@media screen and (max-width: 2560px) {
	html, body {
		font-size: 25px;
	}
}
@media screen and (max-width: 1920px) {
	html, body {
		font-size: 18px;
	}
}
@media screen and (max-width: 1440px) {
	html, body {
		font-size: 16px;
	}
}
@media screen and (max-width: 1180px) {
	html, body {
		font-size: 14px;
	}
	.content{
		width: 90%;
		height: 50%;
	}
	.mycertificate-block{
		width: 65%;
		height: 65%;
	}
	.btn-share{
		top: 22%;
	}
}
@media screen and (max-width: 1024px) {
	html, body {
		font: 12px;
	}
	.content{
		width: 80%;
		height: 60%;
	}
	.mycertificate-block{
		width: 65%;
		height: 80%;
	}
	.btn-share{
		top: 15%;
	}
}
@media screen and (max-width: 900px) {
	html, body {
		font-size: 12px;
	}
	.content{
		width: 90%;
		height: 80%;
		transform: translate(-45%, -50%);
	}
	.certificate{
		top: -25%;
	}
	.name-wall .row{
		margin-bottom: 0.5rem;
	}
	#EnvoyLeft, #EnvoyRight{
		width: 25%;
	}
	.mycertificate-block{
		width: 65%;
		height: 80%;
	}
	.logo{
		width: 5rem;
	}
	.certificate-name{
		width: 40%;
		margin-bottom: 0;
		padding: 0;
	}
	.fubonlogo{
		width: 2rem;
		margin-top: 0.5rem;
	}
	.btn-share{
		width: 7rem;
		height: 2rem;
		font-size: 1.25rem;
		top: 15%;
	}
}
@media screen and (max-width: 700px) {
	html, body {
		font-size: 11px;
	}
	.content{
		width: 90%;
		height: 80%;
		transform: translate(-45%, -50%);
	}
	.main-ambassador {
		width: 55%;
	}
	.certificate{
		top: -25%;
	}
	.name-wall .row{
		margin-bottom: 0.5rem;
	}
}