html,
body {
	width: 100vw;
	width: calc(var(--vw, 1vw) * 100);
	height: auto;
	min-height: calc(var(--vh, 1vh) * 100);
	overflow: auto;
	font-size: 12px;
}
html,
body::-webkit-scrollbar {
	width: 0;
}
.noise {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.4)
		),
		url(../images/texture.jpg);
	mix-blend-mode: color-burn;
	opacity: 0.9;
	z-index: 10;
}
.container {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 15%;
}
.Top{
    position: fixed;
    top: 7.5%;
    width: 100%;
    content: url(../images/IntroTop.svg);
    z-index: 5;
}
.Grass {
	position: absolute;
	bottom: 0;
	width: 100%;
    height: 100%;
	background-color: #30D8A0;
}
.content{
    position: relative;
    margin: 0 12.5%;
    width: 75%;
    background-color: #ffffff;
    overflow: auto;
    z-index: 10;
}
.content::-webkit-scrollbar {
    width: 0;
}
.content-container{
    border: #30D8A0 1px solid;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 10%;
    margin-top: 2rem;
    content: url(../images/Logo.png);
}
.content-title{
    margin: 1.75rem 1.75rem 3rem 2rem;
}
.content-title p{
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.26rem;
    color: #009C9A;
}
.content-container-text{
	width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: #004F74;
    line-height: 35px;
}
.awards-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 2% 7%;
}
.award{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.award-img{
	width: 12rem;
	height: 12rem;
	clip-path: circle(50% at 50% 50%);
}
.award-level{
	width: 4.5rem;
	/* height: 1.75rem; */
	background-color: #004F74;
	color: #ffffff;
	justify-content: center;
	text-align: center;
	border-radius: 2rem;
	margin: 10% 0;
}
.award p:nth-child(3){
	width: 10rem;
	font-size: 1rem;
	color: #009C9A;
	font-weight: 700;
	letter-spacing: 0.26rem;
	line-height: 1.5rem;
	white-space:nowrap;
	text-align: center;
	margin-bottom: 5%;
}
.award p:nth-child(4), .award p:nth-child(5){
	font-size: 0.5rem;
	letter-spacing: 0.26rem;
	line-height: 1.5rem;
	text-align: center;
}
.awards-timeline-container, .winners-list-container{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 7% 7%;
}
.awards-timeline-title, .winners-list-title{
	width: 100%;
	text-align: center;
}
.timeline-title, .list-title{
	border: 1px #004F74 solid;
	width: 10rem;
	border-radius: 2rem;
	font-size: 1.5rem;
	font-weight: 700;
	color: #004F74;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.26rem;
	margin: auto;
	padding: 0.25rem 0;
}
.timeline-text, .list-text{
	margin-top: 1rem;
	font-size: 1rem;
}
.awards-timeline{
	position: relative;
	width: 92%;
	height: 10rem;
}
.timeline{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 3px;
	background-color: #8CE7F4;
	transform: translate(-50%, -50%);
}
.timeline-dot-container{
	position: relative;
	top: 43%;
	left: 0;
	transform: translate(0, -50%);
	display: flex;
	flex-direction: row;
}
.timeline-jul{
	cursor: pointer;
	position: relative;
	width: 17%;
}
.timeline-aug{
	cursor: pointer;
	position: relative;
	width: 17%;
}
.timeline-sep{
	cursor: pointer;
	position: relative;
	width: 17%;
}
.timeline-oct{
	cursor: pointer;
	position: relative;
	width: 17%;
}
.timeline-nov{
	cursor: pointer;
	position: relative;
	width: 17%;
}
.timeline-dec{
	cursor: pointer;
	position: relative;
	width: 17%;
}
.timeline-jan{
	position: relative;
	width: 4%;
}
.timeline-dot-month{
	position: absolute;
	top: -0.17rem;
	left: -1rem;
	width: 1.5rem;
	height: 1.5rem;
	clip-path: circle(50% at 50% 50%);
	background-color: #004F74;
}
.timeline-dot-drawday{
	position: absolute;
	top: 0.17rem;
	left: 1rem;
	width: 1rem;
	height: 1rem;
	clip-path: circle(50% at 50% 50%);
	background-color: #009C9A;
}
.drawday-icon{
	position: absolute;
	top: -3.5rem;
	left: 1rem;
	width: 3rem;
	content: url(../images/gift.png);
}
.time-rangeline{
	position: absolute;
	top: 0.5rem;
	left: -0.5rem;
	width: 100%;
	height: 5px;
	background-color: #004F74;
}
.timeline-text-month{
	position: absolute;
	top: 2rem;
	left: -1rem;
	font-size: 1.25rem;
	font-weight: 700;
}
.award-card{
	position: relative;
	width: 30rem;
	height: 15rem;
	border: #004F74 8px solid;
	border-radius: 2rem;
}
.card-title{
	position: relative;
	padding: 2% 0;
	border-radius: 1rem 1rem 0 0;
	background-color: #004F74;
	font-size: 1.25rem;
	font-weight: 700;
	color: #ffffff;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.card-content{
	margin: 2% 35% 5% 5%;
}
.card-content p{
	color: #009C9A;
	border-bottom: #009C9A 1px solid;
}
.card-drawtime{
	position: absolute;
	font-weight: 700;
	color: #009C9A;
	margin-left: 5%;
	bottom: 3%;
}
.card-tree{
	position: absolute;
	right: 0;
	bottom: 0;
	content: url(../images/CardTree.png);
}
.text-flex{
    display: flex;
    flex-direction: row;
    justify-content: left;
	margin: 1% 7%;
}
.text-flex p:nth-child(1){
    white-space:nowrap;
	font-weight: 700;
}
.text-flex span{
	font-weight: 700;
	color: #008EC6;
}
.notice{
	font-size: 0.85rem;
}
.winners-list-container{
	margin: 7% 10% 3% 10%;
}
.winners-list{
	width: 100%;
}
.list-time-block{
	margin: 2rem 0;
}
.list-time{
	width: 19rem;
	border-radius: 2rem;
	font-size: 1rem;
	font-weight: 700;
	background-color: #004F74;
	color: #ffffff;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.26rem;
	margin: auto;
	padding: 0.25rem 1rem;
}
.list-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 2rem 0;
}
.list-row{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.list-info{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1rem;
	line-height: 2rem;
	margin: 0 3%;
}
.list-info p:nth-child(3){
	color: #009C9A;
}
#LeftTree {
	position: fixed;
	bottom: -1%;
	left: 0;
	width: 15%;
    content: url(../images/IntroLeft.svg);
    z-index: 100;
}
#RightTree {
	position: fixed;
	bottom: -1%;
	right: 0;
	width: 15%;
    content: url(../images/IntroRight.svg);
    z-index: 100;
}
.mobile-menu-btn{
	display: none;
}
.nav-bar {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 100%;
	height: 7.5%;
	background-color: #008dc5;
	z-index: 15;
	overflow: hidden;
}
.nav-bar div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.25rem;
	padding: 0 1.25rem;
	border-left: solid 1px #ffffff;
	z-index: 15;
}
.nav-bar div:nth-child(2){
	border-left: none;
}
.nav-bar div:nth-child(8) {
	border-right: solid 1px #ffffff;
}
.nav-bar .mobile-menu-arrow{
	display: none;
}
.nav-bar div p {
	cursor: pointer;
	font-size: 0.866rem;
	font-weight: 700;
	letter-spacing: 0.3rem;
	color: #ffffff;
}
.nav-bar div p:hover {
	transform: scale(1.1);
}
@media screen and (max-width: 2560px) {
	html, body {
		font-size: 20px;
	}
	.nav-bar div {
		height: 2.25rem;
		padding: 0 2.5rem;
	}
	.container {
		margin-top: 16%;
	}
}
@media screen and (max-width: 1920px) {
	html, body {
		font-size: 18px;
	}
	.nav-bar div {
		height: 2rem;
		padding: 0 2rem;
	}
	.container {
		margin-top: 15%;
	}
}
@media screen and (max-width: 1440px) {
	.container {
		margin-top: 16%;
	}
	.award-img{
		width: 10rem;
		height: 10rem;
	}
	.winners-list-container{
		margin: 7% 5% 3% 5%;
	}
}
@media screen and (max-width: 1180px) {
	html, body {
		font-size: 14px;
	}
	.nav-bar div {
		height: 1.75rem;
		padding: 0 1.25rem;
	}
	.container {
		margin-top: 17%;
	}
	.award-card{
		height: 18rem;
	}
}
@media screen and (max-width: 1024px) {
	html, body {
		font: 12px;
	}
	.mobile-menu-btn{
		cursor: pointer;
		position: fixed;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		top: 0;
		width: 6.25rem;
		height: 2.5rem;
		background-color: #008dc5;
		z-index: 15;
		overflow: hidden;
	}
	.mobile-menu-btn .menu-btn{
		position: absolute;
		left: 5%;
		font-size: 2.25rem;
		color: #ffffff;
	}
	.mobile-menu-btn p{
		position: absolute;
		left: 45%;
		font-size: 1rem;
		color: #ffffff;
	}
	.nav-bar{
		flex-direction: column;
		left: 0;
		width: 18%;
		height: 100%;
		display: none;
		z-index: 9999;
	}
	.nav-bar div {
		width: 7rem;
		height: 1.5rem;
		padding: 0;
		padding-bottom: 5px;
		margin-bottom: 1rem;
		border-left: none;
		border-bottom: solid 1px #ffffff;
		white-space: nowrap;
		justify-content: left;
	}
	.nav-bar div:nth-child(8) {
		border-right: none;
	}
	.nav-bar div:nth-child(2){
		cursor: pointer;
		display: block;
		height: 2.25rem;
		position: relative;
		border-bottom: none;
		margin: 1rem 1rem 0 0;
	}
	.nav-bar div .mobile-menu-arrow{
		cursor: pointer;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: auto;
		height: auto;
		border-bottom: none;
		color: #ffffff;
		transform: scale(1.5);
	}
	.nav-bar div p {
		font-size: 0.866rem;
		letter-spacing: 0rem;
	}
	.Top{
		top: 0;
	}
	.container {
		margin-top: 11%;
	}
	.award-img{
		width: 10rem;
		height: 10rem;
	}
}
@media screen and (max-width: 900px) {
	.container {
		margin-top: 12%;
	}
	.award-img{
		width: 6rem;
		height: 6rem;
	}
	.award p:nth-child(3){
		width: fit-content;
		white-space: normal;
		letter-spacing: 0;
	}
	.award p:nth-child(4){
		letter-spacing: 0;
	}
	.award p:nth-child(4){
		letter-spacing: 0;
	}
	.drawday-icon{
		top: -2.5rem;
		width: 2rem;
	}
}
@media screen and (max-width: 700px) {
	.container {
		margin-top: 12%;
	}
	.awards-container{
		margin: 2%;
	}
	.award-img{
		width: 6rem;
		height: 6rem;
	}
	.award p:nth-child(3){
		width: fit-content;
		white-space: normal;
		letter-spacing: 0;
	}
	.award p:nth-child(4){
		letter-spacing: 0;
	}
	.award p:nth-child(4){
		letter-spacing: 0;
	}
}