html,
body {
	width: 100vw;
	width: calc(var(--vw, 1vw) * 100);
	height: auto;
	height: calc(var(--vh, 1vh) * 100);
	overflow: auto;
	font-size: 12px;
}
html,
body::-webkit-scrollbar {
	width: 0;
}
.noise {
	position: absolute;
	width: calc(var(--vw, 1vw) * 100);
	height: calc(var(--vh, 1vh) * 100);
	background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.4)
		),
		url(../images/texture.jpg);
	mix-blend-mode: color-burn;
	opacity: 0.9;
	z-index: 10;
}
.nav-bar-btn p{
	margin-bottom: 0;
}
.m_container {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 15%;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.Top{
    position: fixed;
    top: 7.5%;
    width: 100%;
    content: url(../images/common/IntroTop.svg);
    z-index: 5;
}
.Grass {
	position: fixed;
	bottom: 0;
	width: 100%;
    height: 100%;
	background: linear-gradient(to bottom, #12ff8f 0%, #30d8a0 50%, #009c9a 100%);
}
.content{
    position: relative;
    margin: 0 7.5%;
    width: 85%;
    background-color: #ffffff;
    overflow: auto;
    z-index: 10;
}
.content::-webkit-scrollbar {
    width: 0;
}
.content-container{
    border: #30D8A0 1px solid;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 8rem;
    margin-top: 2rem;
    content: url(../images/common/Logo.svg);
}
.content-banner, .content-banner img{
    width: 100%;
}
.content-nav{
	width: 100%;
	background-color: #008dc5;
	height: 4rem;
}
.content-nav-text{
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	align-items: center;
	color: #FFFFFF;
	border-left: #FFFFFF 1px solid;
	height: 2rem;
	line-height: 2rem;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.content-nav-text:nth-child(3){
	border-right: #FFFFFF 1px solid;
}
.content-nav-text p {
	max-width: initial;
	margin-bottom: 0;
}
.content-nav-text:hover{
	font-size: 1.5rem;
}
.content-container-text{
	width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: #004F74;
    line-height: 35px;
}
.awards-container{
	display: table !important;
	width: 100%;
	margin: 2% 7%;
}
.award{
	display: table-cell !important;
	text-align: center;
}
.award-img{
	width: 100%;
	padding-top: 5%;
}
.award-level{
	width: max-content;
	font-size: 1.5rem;
	font-weight: 700;
	background-color: #004F74;
	color: #ffffff;
	border-radius: 2rem;
	margin: auto;
	padding: 0.25rem 1rem;
}
.award-title{
	font-size: 1rem;
	font-weight: 700;
	color: #009C9A;
	line-height: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 0%;
}
.award-quota, .award-desc, .award-ann{
	font-weight: 500;
	line-height: 1.25rem;
	text-align: center;
	color: #004F74;
	margin: 0.5rem;
}
.award-quota{
	font-size: 0.75rem;
	margin: 0;
}
.award-desc{
	font-size: 0.85rem;
	letter-spacing: -1px;
}
.award-ann{
	font-size: 0.5rem;
	color: #008DC5;
}
.awards-timeline-container{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2% 5%;
}
.awards-timeline-title{
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
}
.timeline-title{
	border: 1px #004F74 solid;
	width: fit-content;
	border-radius: 2rem;
	font-size: 1.5rem;
	font-weight: 700;
	color: #004F74;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.26rem;
	margin: auto;
	padding: 0.25rem 1rem;
}
.timeline-text{
	margin-top: 1rem;
	font-size: 1rem;
}
.notice{
	font-size: 0.85rem;
	font-weight: 500;
	line-height: 1.75rem;
	color: #004F74;
}
.winners-list{
	width: 100%;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	font-size: 1rem;
	text-align: center;
}
table td{
	vertical-align: middle;
  	text-align: center;
}
td, th {
	border: 1px solid #004F74 !important;
	text-align: center;
	padding: 8px;
}
thead tr th {
	background-color: #004F74 !important;
	color: #FFFFFF;
}
tr td:nth-child(1){
	color: #009C9A;

}

tr th:nth-child(1), tr td:nth-child(1){
	width: 33.3%;
	/* white-space: nowrap; */
}
tr th:nth-child(2), tr td:nth-child(2){
	width: 33.3%;
	/* word-break: keep-all; */
}
tr th:nth-child(3), tr td:nth-child(3){
	width: 33.3%;
	/* word-break: keep-all; */
}

tr td img{
	cursor: pointer;
	width: 80%;
}

.notice tr th:nth-child(1), .notice tr td:nth-child(1){
	width: 10%;
	white-space: nowrap;
}
.notice tr th:nth-child(2), .notice tr td:nth-child(2){
	width: 45%;
	word-break: keep-all;
}
.notice tr th:nth-child(3), .notice tr td:nth-child(3){
	width: 45%;
	word-break: keep-all;
}

.notice tr{
	font-size: 0.85rem;
}
tr td:nth-child(2), .notice tr td:nth-child(2), .notice tr td:nth-child(3){
	color: #004F74;
}

#LeftTree {
	position: fixed;
	bottom: -1%;
	left: 0;
	width: 10%;
    content: url(../images/common/IntroLeft.svg);
    z-index: 100;
}
#RightTree {
	position: fixed;
	bottom: -1%;
	right: 0;
	width: 10%;
    content: url(../images/common/IntroRight.svg);
    z-index: 100;
}

ol > ol{
	margin-left: -0.5rem;
}
.notice > ol:nth-child(5) > ol:nth-child(2) > li{
	margin-left: 1rem;
}
ol ul li, ul table{
	margin-left: -0.5rem;
}
ol li ol{
	counter-reset: list;
}
ol li ol li{
	list-style: none;
	text-indent: -2rem;
}
ol li ol li::before{
	counter-increment: list;
    content: "(" counter(list, decimal) "). ";
	list-style: none;
}

li a{
	color: #008dc5;
}

@media screen and (max-width: 2560px) {
	html, body {
		font-size: 25px;
	}
	.container {
		margin-top: 16%;
	}
	.award-title br{
		display: none;
	}
}
@media screen and (max-width: 1920px) {
	html, body {
		font-size: 18px;
	}
	.container {
		margin-top: 15%;
	}
}
@media screen and (max-width: 1440px) {
	.container {
		margin-top: 15%;
	}
}
@media screen and (max-width: 1180px) {
	html, body {
		font-size: 14px;
	}
	.m_container {
		margin-top: 17%;
	}
}
@media screen and (max-width: 1024px) {
	html, body {
		font: 12px;
		overflow: hidden;
	}
	.Top{
		top: 0;
	}
	.m_container {
		margin-top: 11%;
		height: 84%;
	}
	.content{
		height: 100%;
	}
	.award-title br{
		display: block;
	}
}
@media screen and (max-width: 425px) {
	.m_container {
		margin-top: 8%;
		height: 87%;
	}
	tr td img{
		width: 100%;
	}
}
@media screen and (max-width: 375px) {
	
}