.PageContent{
    width: 28%;
    z-index: 110;
}
.PageContentAni{
    animation: Right-in-Page 0.5s linear;
    animation-fill-mode: forwards;
}
.ProductPage{
    width: 95%;
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: scroll;
}

.Rollout{
    animation: Right-out-Page 0.5s linear;
}

@keyframes Right-in-Page{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Right-out-Page{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}

.ModelText{
    right: 1rem;
    font-size: 15px;
    text-align: end;
    color: #3EC6FF;
}
.ProductBtnList{
    top: 5rem;
    left: -1rem;
    width: 4rem;
    z-index: 110;
}
.ProductBtn{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    padding: 9px;
    background-color: #00428E;
    border-radius: 10px;
    margin-bottom: 1rem;
    z-index: 10;
}
.ProductBtn img{
    width: 2rem;
    margin: 0 14%;
}
.ProductBtn p{
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

/**********  MID  **********/
.ContentSeries{
    color: #00428E;
    border-left: 7px solid #FFD900;
}
.ProductContent ul li{
    list-style: disc;
    font-size: 16px;
    margin-bottom: 15px;
}
/**********  Video  **********/
.VideoContent{
    cursor: pointer;
    padding: 0;
    margin-bottom: 1rem;
}
.VideoBtn{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.VideoPlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 90vh;
    transform: translate(-50%,-50%);
}
/**********  Industry  **********/
.IndustryImg{
    height: 3rem;
}
/**********  Menu  **********/
.MenuBtn{
    top: 5px;
    left: 5px;
    z-index: 100;
}
.MenuBtn img{
    top: 1.5rem;
    left: 1rem;
}
.MenuBgc{
    top: 0;
    left: 0;
    background-color: rgba(244, 244, 244, .6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    clip-path: circle(50% at -13% 23%);
}
.MenuContent{
    width: 22rem;
    height: 42rem;
    top: 3rem;
}
.MenuBtnList{
    width: 13rem;
    top: -1.5rem;
    left: 6rem;
}
.MenuBtnListDIV{
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00428E;
    border-radius: 1rem;
    box-shadow: -2px -2px 2px rgba(255,255,255,0.25), 2px 2px 2px rgba(0,0,0,0.25), inset 0px 2px 2px rgba(0,0,0,0.25);
    cursor: pointer;
}
.MenuBtnListDIV p{
    display: block;
    margin: auto;
    color: #FFFFFF;
}
.SoundBtn{
    display: block;
    margin: auto;
    width: 1.667rem;
    height: 1.11rem;
}
.MenuSceneBtn div{
    width: 20rem;
    height: 50px;
    margin-bottom: 1.25rem;
}
.MenuSceneBtn div p{
    color: #545454;    
    font-weight: 600;
}
.MenuSceneBtn div img{
    width: 2.778rem;
    height: 2.778rem;
}
.MenuSceneBtn div div{
    width: 10rem;
    height: 3px;
    background-color: #00428E;
    bottom: -55%;
    opacity: 0;
}
.MenuLogo{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12rem;
}

/**********  Animation   *********/
.SceneBtnAni{
    animation: Left-in-Menu 0.3s ease-out;
    animation-fill-mode: forwards;
}
.SceneBtnAni-Out{
    animation: Left-out-Menu 0.3s ease-out;
    animation-fill-mode: forwards;
}
.Rollin-left{
    animation: Left-in-Page 0.3s ease-in-out;
    animation-fill-mode: forwards;
}
.Rollout-left{
    animation: Left-out-Page 0.3s ease-in;
    animation-fill-mode: forwards;
}
.text-roll-left-in{
    animation: text-roll-in 0.3s ease-out;
    animation-fill-mode: forwards;
}
.text-roll-right-out{
    animation: text-roll-out 0.3s ease-out;
    animation-fill-mode: forwards;
}
.line-roll-right-in{
    animation: line-roll-in 0.3s ease-out;
    animation-fill-mode: forwards;
}
.line-roll-right-out{
    animation: line-roll-out 0.3s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Left-in-Page{
    0%{
        width: 33.334rem;
        height: 33.334rem;
        transform: translateX(-10vw) translateY(-46vh);
    }
    100%{
        width: 66.667rem;
        height: 66.667rem;
        transform: translateX(0) translateY(0);
    }
}
@keyframes Left-out-Page{
    0%{
        width: 66.667rem;
        height: 66.667rem;
        transform: translateX(0) translateY(0);
    }
    100%{
        width: 33.334rem;
        height: 33.334rem;
        transform: translateX(-10vw) translateY(-46vh);
    }
}
@keyframes Left-in-Menu{
    0%{
        transform: translateX(-30vw);
    }
    30%{
        transform: translateX(-30vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Left-out-Menu{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-30vw);
    }
}
@keyframes text-roll-in{
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes text-roll-out{
    0%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes line-roll-in{
    0%{
        opacity: 1;
        transform: translateX(-250px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes line-roll-out{
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        transform: translateX(-300px);
        opacity: 0;
    }
}

@media (max-width: 320px){
    html{ font-size: 12px; }
    .PageContent{ width: 90%; }
    .ProductBtn{ width: 4.8rem; height: 4.8rem; }
    .ProductBtn img{ width: 2.6rem; }
    .MenuBtn svg { width: 3.5rem; }
    .MenuBtn img{
        width: 1.75rem;
        top: 2.5rem;
    }
    .MenuBgc{ clip-path: circle(50% at -12% 26%); }
    .MenuLogo{ width: 10rem; }
    .MenuSceneBtn div{ margin-bottom: 5px; }
    .MenuSceneBtn div img{ width: 3rem; height: 3rem; }
    .MenuSceneBtn div div{ bottom: 10%; }
}
@media (min-width: 321px) and (max-width: 375px){
    html{ font-size: 12px; }
    .PageContent{ width: 90%; }
    .ProductBtn{ width: 4.8rem; height: 4.8rem; }
    .ProductBtn img{ width: 2.6rem; }
    .MenuBtn svg { width: 3.5rem; }
    .MenuBtn img{
        width: 2rem;
        top: 2.5rem;
    }
    .MenuBgc{ clip-path: circle(50% at -7% 34%); }
    .MenuContent{
        height: 49rem;
    }
    .MenuLogo{ width: 10rem; }
    .MenuSceneBtn div{ margin-bottom: 1rem; }
    .MenuSceneBtn div img{ width: 3rem; height: 3rem; }
    .MenuSceneBtn div div{ bottom: -10%; }
}
@media (min-width: 376px) and (max-width: 425px){
    html{ font-size: 14px; }
    .PageContent{ width: 90%; }
    .ProductBtn{ width: 4.8rem; height: 4.8rem; }
    .ProductBtn img{ width: 2.6rem; }
    .MenuBtn svg { width: 3.5rem; }
    .MenuBtn img{
        width: 2rem;
        top: 2rem;
        left: 12px;
    }
    .MenuBgc{ clip-path: circle(50% at -10% 25%); }
    .MenuContent{
        width: 75vw;
        height: 85vh;
    }
    .MenuSceneBtn div{ margin-bottom: 7px; }
    .MenuSceneBtn div img{ width: 3rem; height: 3rem; }
    .MenuSceneBtn div div{ bottom: -10%; }
}
@media (min-width: 426px) and (max-width: 1024px){
    html{ font-size: 16px; }
    .PageContent{ width: 90%; }
    .ProductBtnList{ left: 0rem;}
    .ProductBtn{ width: 4.8rem; height: 4.8rem; }
    .ProductBtn img{ width: 2.6rem; }
    .MenuSceneBtn div{ margin-bottom: 1.15rem; }
}