.PageContent{
    width: 28%;
    z-index: 110;
}
.PageContentAni{
    animation: Right-in-Page 0.5s linear;
    animation-fill-mode: forwards;
}
.ProductPage{
    width: 95%;
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: scroll;
}

.Rollout{
    animation: Right-out-Page 0.5s linear;
}

@keyframes Right-in-Page{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Right-out-Page{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}

.ModelText{
    right: 1rem;
    font-size: 15px;
    text-align: end;
    color: #3EC6FF;
}
.ProductBtnList{
    top: 5rem;
    left: -1rem;
    width: 4rem;
    z-index: 110;
}
.ProductBtn{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    padding: 9px;
    background-color: #00428E;
    border-radius: 10px;
    margin-bottom: 1rem;
    z-index: 10;
}
.ProductBtn img{
    width: 2rem;
    margin: 0 14%;
}
.ProductBtn p{
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

/**********  MID  **********/
.ContentSeries{
    color: #00428E;
    border-left: 7px solid #FFD900;
}
.ProductContent ul li{
    list-style: disc;
    font-size: 16px;
    margin-bottom: 15px;
}
/**********  Video  **********/
.VideoContent{
    cursor: pointer;
    padding: 0;
    margin-bottom: 1rem;
}
.VideoBtn{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.VideoPlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 90vh;
    transform: translate(-50%,-50%);
}
/**********  Industry  **********/
.IndustryImg{
    height: 3rem;
}
/**********  Menu  **********/
.MenuBtn{
    top: 5px;
    left: 5px;
}
.MenuBtn img{
    top: 1.5rem;
    left: 1rem;
}

@media (max-width: 425px){
    html{ font-size: 14px; }
    .PageContent{ width: 90%; }
    .ProductBtn{ width: 4.8rem; height: 4.8rem; }
    .ProductBtn img{ width: 2.6rem; }
}
@media (min-width: 426px) and (max-width: 1024px){
    html{ font-size: 16px; }
    .PageContent{ width: 90%; }
    .ProductBtnList{ left: 0rem;}
    .ProductBtn{ width: 4.8rem; height: 4.8rem; }
    .ProductBtn img{ width: 2.6rem; }
}