.PageContent{
    width: 28%;
    z-index: 110;
}
.PageContentAni{
    animation: Right-in-Page 0.5s linear;
    animation-fill-mode: forwards;
}
.ProductPage{
    width: 95%;
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: scroll;
}

.Rollout{
    animation: Right-out-Page 0.5s linear;
}

@keyframes Right-in-Page{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Right-out-Page{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}

.ModelText{
    margin-top: 8px;
    right: 1rem;
    font-size: calc(1rem - 3px);
    text-align: end;
    color: #3EC6FF;
}
.ProductBtnList{
    top: 4.5rem;
    left: calc( -1rem - 5px);
    width: 4rem;
    z-index: 110;
}
.ProductBtn{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    background-color: #00428E;
    border-radius: 10px;
    margin-bottom: 1rem;
    z-index: 10;
}
.ProductBtn img{
    width: 2rem;
    display: block;
    margin: 10px auto 2px auto;
}
.ProductBtn p{
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
}

/**********  MID  **********/
.ContentSeries{
    color: #00428E;
    border-left: 7px solid #FFD900;
}
.ProductContent ul li{
    list-style: disc;
    font-size: 16px;
    margin-bottom: 15px;
}
/**********  Video  **********/
.VideoContent{
    cursor: pointer;
    padding: 0;
    margin-bottom: 1rem;
}
.VideoBtn{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.VideoPlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 90vh;
    height: calc(var(--vh) * 0.90);
    transform: translate(-50%,-50%);
}
/**********  Industry  **********/
.IndustryImg{
    height: 3rem;
}
/**********  Menu  **********/
.MenuBtn{
    width: 63px;
    top: 20px;
    left: 20px;
    z-index: 10;
}
.MenuBtn img{
    top: 1.1rem;
    left: 0.8rem;
    width: 20px;
}
.MenuBgcDiv{
    top: -4rem;
    width: 20rem;
    height: 40rem;
}
.MenuBgc{
    top: 0;
    left: 0;
    background-color: rgba(244, 244, 244, .6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    clip-path: circle(50% at -16% 16%);
}
.MenuContent{
    top: 3rem;
    width: 20rem;
    height: 37rem;
}
.MenuBtnList{
    width: 11rem;
    top: -0.5rem;
    left: 9rem;
}
.MenuBtnListDIV{
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #00428E;
    border-radius: 0.8rem;
    box-shadow: -2px -2px 2px rgba(255,255,255,0.25), 2px 2px 2px rgba(0,0,0,0.25), inset 0px 2px 2px rgba(0,0,0,0.25);
    cursor: pointer;
}
.MenuBtnListDIV p{
    display: block;
    margin: auto;
    color: #FFFFFF;
}
.SoundBtn{
    display: block;
    margin: auto;
    width: 1.3rem;
    height: 0.9rem;
}
.MenuSceneBtn div{
    width: 18rem;
    height: 2.5rem;
    margin-top: 0.7rem;
}
.MenuSceneBtn div p{
    display: block;
    margin: auto 13px 0.45rem 13px;
    padding-left: 0.5rem;
    color: #545454;
    font-size: 0.9rem;  
    font-weight: 700;
}
.MenuSceneBtn div img{
    width: 2.2rem;
    height: 2.2rem;
    margin-top:0.2rem;
}
.MenuSceneBtn div div{
    width: 14rem;
    height: 3px;
    background-color: #00428E;
    bottom: -25%;
    opacity: 0;
}
.MenuLogo{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12rem;
}

/**********  Animation   *********/
.SceneBtnAni{
    animation: Left-in-Menu 0.3s ease-out;
    animation-fill-mode: forwards;
}
.SceneBtnAni-Out{
    animation: Left-out-Menu 0.3s ease-out;
    animation-fill-mode: forwards;
}
.Rollin-left{
    animation: Left-in-Page 0.3s ease-in-out;
    animation-fill-mode: forwards;
}
.Rollout-left{
    animation: Left-out-Page 0.3s ease-in;
    animation-fill-mode: forwards;
}
.text-roll-left-in{
    animation: text-roll-in 0.3s ease-out;
    animation-fill-mode: forwards;
}
.text-roll-right-out{
    animation: text-roll-out 0.3s ease-out;
    animation-fill-mode: forwards;
}
.line-roll-right-in{
    animation: line-roll-in 0.3s ease-out;
    animation-fill-mode: forwards;
}
.line-roll-right-out{
    animation: line-roll-out 0.3s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Left-in-Page{
    0%{
        width: 33.334rem;
        height: 33.334rem;
        transform: translateX(-10vw) translateY(-46vh);
    }
    100%{
        width: 66.667rem;
        height: 66.667rem;
        transform: translateX(0) translateY(0);
    }
}
@keyframes Left-out-Page{
    0%{
        width: 66.667rem;
        height: 66.667rem;
        transform: translateX(0) translateY(0);
    }
    100%{
        width: 33.334rem;
        height: 33.334rem;
        transform: translateX(-10vw) translateY(-46vh);
    }
}
@keyframes Left-in-Menu{
    0%{
        transform: translateX(-30vw);
    }
    30%{
        transform: translateX(-30vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Left-out-Menu{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-30vw);
    }
}
@keyframes text-roll-in{
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes text-roll-out{
    0%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes line-roll-in{
    0%{
        opacity: 1;
        transform: translateX(-250px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes line-roll-out{
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        transform: translateX(-300px);
        opacity: 0;
    }
}

@media (max-width: 320px){
    html{ font-size: 14px; }
    .PageContent{ width: 90%; }
    .ProductBtnList{ left: calc(-2rem - 7px); }
    .ProductBtn{ width: 5rem; height: 5rem; }
    .ProductBtn img{ width: 2.6rem; }
    .ProductBtn p{ display: block; margin: auto -7px; }
    .MenuBtn, .MenuBtn svg { width: 3.5rem; }
    .MenuBtn img{
        width: 1.75rem;
        top: 1.6rem;
    }
    .MenuBgcDiv{
        top: -7rem;
        width: 24rem;
    }
    .MenuBgc{ clip-path: circle(50% at -17% 25%); }
    .MenuContent{ top: 4rem; }
    .MenuBtnList{ left: 7rem; }
    .MenuSceneBtn{ margin-left: 2rem !important; }
    .MenuLogo{ width: 10rem; }
    .MenuSceneBtn div{ margin-top: 1rem; }
    .MenuSceneBtn div div{ bottom: 10%; }
}
@media (min-width: 321px) and (max-width: 375px){
    html{ font-size: 14px; }
    .PageContent{ width: 90%; }
    .ProductBtnList{ left: calc(-2rem - 7px); }
    .ProductBtn{ width: 5.5rem; height: 5.5rem; }
    .ProductBtn img{ width: 2.6rem; }
    .ProductBtn p{ display: block; margin: auto -7px; }
    .MenuBtn, .MenuBtn svg { width: 3.5rem; }
    .MenuBtn img{
        width: 1.75rem;
        top: 1.6rem;
    }
    .MenuBgcDiv{
        top: -9rem;
        width: 23rem;
        height: 45rem;
    }
    .MenuBgc{ clip-path: circle(50% at -33vw calc(var(--vh) * 0.31)); }
    .MenuContent{ top: 4.5rem; }
    .MenuLogo{ width: 10rem; }
    .MenuSceneBtn div{ margin-top: 1rem; }
    .MenuSceneBtn div div{ bottom: -10%; }
}
@media (min-width: 376px) and (max-width: 425px){
    html{ font-size: 16px; }
    .PageContent{ width: 90%; }
    .ProductBtn{ width: 4.8rem; height: 4.8rem; }
    .ProductBtn img{ width: 2.6rem; }
    .MenuBtn, .MenuBtn svg { width: 3.5rem; }
    .MenuBtn img{
        width: 2rem;
        top: 1.2rem;
        left: 12px;
    }
    .MenuBgcDiv{
        width: 100vw;
        height: 95vh;
    }
    .MenuBgc{ clip-path: circle(50% at -13% 26%); }
    .MenuContent{
        width: 84vw;
        top: 4rem;
    }
    .MenuSceneBtn div{ margin-top: 1.5rem; }
    .MenuSceneBtn div div{ bottom: -10%; }
}
@media (min-width: 426px) and (max-width: 1024px){
    html{ font-size: 16px; }
    .PageContent{ width: 90%; }
    .ProductBtnList{ left: 0rem;}
    .ProductBtn{ width: 4.8rem; height: 4.8rem; }
    .ProductBtn img{ width: 2.6rem; }
}
@media (min-width: 1025px) and (max-width: 1439px){
    html{ font-size: 15px; }
    .ProductBtnList{ left: -2rem;}
    .ProductBtn{ width: 4.5rem; height: 4.5rem; }
    .MenuBtn img{
        top: 1.5rem;
        left: 15px;
    }
    .MenuBgc{ clip-path: circle(50% at -13% 20%); }
    .MenuContent{
        width: 27vw;
        height: 42rem;
        height: calc(var(--vh) * 0.9);
        top: 3.5rem;
    }
}