@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ceviche+One&display=swap');
html, body {
    height:100%;
    font-family: 'Noto Sans TC', sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color:rgb(255, 255, 255);
}
body{ overflow: hidden; }
* {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
h1 {
    font-size: 2.8rem;
    color: #FFF;
    font-weight: 900;
}
h2 {
    display: flex;
    color: #20396F;
    font-size: 1.4rem;
    font-weight: 700;
}
/***********  ***********/
.btn-top { top: 1%; }
.btn-mid { top: 6%; }
.btn-bot { top: 11%; }
/*********** Customized ***********/
#pano{
    width:100%;
    height:100%;
}
.Logo{
    position: absolute;
    cursor: pointer;
    width: 14vw;
    height: auto;
    margin: 0 45%;
    bottom: 0;
    z-index: 10;
}
.UserGuide{
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 9vw;
    z-index: 10;
    content: url(../images/guide_icon.png);
    transform: scale(0.65);
}
.GuideContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.GuideImage{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.GuideClose{
    position: absolute;
    cursor: pointer;
    top: 7vw;
    right: 11vw;
}
.GUideBG{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 375px){
    .Logo{ width: 9vw; content: url(../images/TMBA_Mobile.png); }
    .UserGuide{ right: 62%; }
}
@media (min-width:376px) and (max-width: 425px){
    .Logo{ width: 8vw; content: url(../images/TMBA_Mobile.png); }
    .UserGuide{ right: 31%; }
}
@media (min-width: 425px){
    .Logo{ content: url(../images/TMBA.png);};
    .UserGuide{ right: 20%; }
}
@media (min-width: 425px) and (max-width: 768px) {
    .UserGuide{ right: 16%; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .UserGuide{ right: 13%; }
}